<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.musicstructureproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MixAlbumActivity"
            android:label="@string/category_mixAlbum_title"/>
        <activity android:name=".CustomPlaylistActivity"
            android:label="@string/category_customPlaylist_title"/>
        <activity android:name=".ShopActivity"
            android:label="@string/category_shop_title"/>

    </application>

</manifest>